/*
    ----------------------------------------
    FONT
    ----------------------------------------
*/
@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("3rdparty/lato-regular.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("3rdparty/lato-bold.woff") format("woff");
}

/*
    ----------------------------------------
    GLOBAL
    ----------------------------------------
*/
html {
    overflow-y: visible; /* allow scroll in chromeApp */
}

body {
    max-width: 768px;
    margin: 2px auto;
    background: #fff;
    color: #505050;
    font: 16px "Lato", "Meiryo", "メイリオ", sans-serif; /*FF needs Meiryo explictly */
}

h1, h2, h3 {
    text-align: center;
    margin: 4px 0 6px 0;
}

/*
    ----------------------------------------
    OVERLAYS: DROPZONE & MODAL
    ----------------------------------------
*/
div#dropzone {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 175ms, opacity 175ms;
}

div#modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 175ms, opacity 175ms;
}

div.modalContent {
    margin: 6% auto;
    padding: 12px;
    width: 85%;
    max-width: 700px;
    background: #FFF;
    border-radius: 6px;
}

input[type=checkbox] {display:none;}

input[type=checkbox]:checked ~  .chkb0x {
    color:#eee;
    background:#333;
}

input[type=checkbox]:checked +  .chkb0x::after {content: "✔"}
.state {vertical-align: top; display: table-cell; }
.state,.text {padding: 4px 4px;}

.chkb0x {vertical-align: middle; 
    cursor:pointer;
    display:inline-block;
    height:18px;width:18px;
    background:#555;
    color:#999;font-weight:bold;
    text-align:center;font-size:12px;
    border-radius:4px;
} 
.fixed{font-family:monospace;}
.modalBlock {vertical-align: top;display:inline-block;width:50%;}
.text   {vertical-align: middle; display: table-cell; }
.textInfo{line-height:1;font-weight:normal;color:#999;font-size:13px;}
.textLabel{line-height:1;cursor:pointer;font-weight:bold;color:#666;}

.label {
    display: inline-block;
    width: 120px;
    margin-right: 15px;
    text-align: right;
    font-weight:bold;
    font-size:16px;
}
.content {
    word-wrap: break-word;
    font-size: 14px;
    color:#777;
    width:100%;
}
.modalFlex{display: flex;}
[contenteditable=true] {
    outline:none;
    width:100%;
    border: 1px solid #AAA;
    padding: 4px 8px;
    margin:2px 0;
    opacity:0.8;
}
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color:#777;
    display: block; /* For Firefox */
}
[contenteditable=true]:empty {
    border:1px dashed #CCC;
    opacity:0.5;
}
[contenteditable=true]:empty:focus {
    border:1px dashed #BBB;
    opacity:0.7;
}
[contenteditable=true]:focus {
    border:1px solid #AAA;
    opacity:1;
}
.b0x:nth-child(-n+5) {visibility:hidden;}
.pageContainer {text-align:center;margin-top:32px;line-height:0.3;}
.b0x{line-height:1;display:inline-block;border:1px solid #777;height:8px;width:8px;margin:0.5px;}

/*
    ----------------------------------------
    TOP TOOLBAR
    ----------------------------------------
*/
div.topToolbar {
    display: flex;
    font-size: 28px;
    padding: 2px 4px; 
    background: #fdfdfd;
    border-bottom: 4px solid #92b9cd;
}

div.grow {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*border-radius: 5px;*/
}

span#loadButton {
    font-weight: bold;
    padding:0 6px 3px 0;
    border-radius: 5px;
}

span#loadButton:hover {
    background: #eaeaea;
    color: #777;
    cursor: pointer;
}

#fileOpen {display: none;}

/*
    ----------------------------------------
    TOP TOOLBAR (STATUS)
    ----------------------------------------
*/
div#stats {
    background: #f8f8f8;
    text-align:center;
    font-weight:400;
    font-size:14px; border-bottom: 1px solid #eee;
}

div#stats .statBox {
    font-size:12px;
    width:150px;
    text-align:center;
    display:inline-block;
}
div#stats .outerBar {
    margin:1px 3px 6px 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align:left;
    background:#e0e0e0;
}
div#stats .innerBar {height: 6px; background: #92b9cd;}

/*
    ----------------------------------------
    MAIN TABLE
    ----------------------------------------
*/
table {
    width: 100%;
    border-collapse: collapse;
    background: #fdfdfd;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
}

tr.empty {
    text-align:center;
    font-size:10px;
    color:#aaa;
}

tr.empty:nth-child(even) {background: #f8f8f8;}
tr.empty td::before {content: "· •"; margin-right: 8px;}
tr.empty td::after  {content: "• ·"; margin-left:  8px;}


tr.note {
    background: #f9f9f9;
    border: 1px solid #ececec;
}

tr.note:nth-child(even) {background: #f2f2f2;}
tr.note td:last-child {border-right: 1px solid #ececec;}
tr:nth-child(1) {border-top: none;}

td {
    padding: 4px 6px;
}

td.divider {padding: 0; width: 1px;}
td.divider div {
    height: 28px;
    background: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%, rgba(0,0,0,0.10) 50%, rgba(0,0,0,0) 100%);
}

td.name {
    font-weight: bold;
    font-size: 14px;
}

td.name div {
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
td.hash {
    width: 5px;
    padding:4px 2px;
    text-align: center;
}
td.region {
    width: 32px;
    text-align: center;
    font-size: 12px;
}
td.pgs {
    width: 5px;
    text-align: center;
    font-weight: bold;
}

td.tool {
    width: 32px;
    padding:4px 3px;
    text-align: center;
    white-space:nowrap;
}

td.empty {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

/*
    ----------------------------------------
    ICON STUFF
    ----------------------------------------
*/
.fa {color: #92b9cd; margin:1px 0;padding:2px 4px;border-bottom:2px solid transparent;}

span#loadButton:hover .fa-folder-open {
    color: #cda692;
}

span#loadButton:active .fa-folder-open {
    color: #b89583;
}

.fa-trash:hover, .fa-cog:hover, .fa-download:hover,
.fa-floppy-o:hover, .fa-info-circle:hover {
    cursor: pointer;
    color: #cda692;
    border-bottom: 2px solid;
}

.fa-trash:active, .fa-cog:active, .fa-download:active,
.fa-floppy-o:active, .fa-info-circle:active {
    color: #b89583;
}
